

body {

  font-family: 'Source Sans Pro', sans-serif;
  background-color: #333333;
}

.navbar {

  background-color: #3ca65e;
}

.nav-sub-title {

  text-align: right;
  margin-left: auto;
  margin-bottom: 0;
  font-weight: 400;
  color: #333333;
}

.data-post {

  margin-top: 40px;
}

.data-post h2 {

  text-align: center;
  color: #ffffff;
}

.data-post h6 {

  text-align: center;
  margin-top: 24px;
  font-weight: 600;
  color: #ffffff;
}

.data-get {

  margin-top: 60px;
  margin-bottom: 60px;
}

.util-grid {

  margin: auto;
  border-radius: 10px;
  margin-top: 24px;
  height: 140px;
  background-color: #000000;
  border-color: #000000;
}

.util-grid:hover {

  background-color: #184426;
  border-color: #184426;
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.util-grid img {

  width: 60px;
  margin-top: 12px;
}

.util-grid h4 {

  margin-top: 40px;
  font-weight: 600;
}

.custom-submit {

  background-color: #3ca65e;
  color: #ffffff;
}

.success-message-user, .success-message-history, .success-message-non {

  display: none;
}

.error-message-user, .error-message-history, .error-message-non {

  display: none;
}

#refillTable h6 {

  font-weight: 300;
}

#refillTable .row {

  font-size: 20px;
  font-weight: 500;
}

.userDetails {

  margin-top: 10px;
}

.upcomingRefills {

  display: none;
}

.userDatabase {

  display: none;
  margin-bottom: 20px;
}

.salesData {

  display: none;
  margin-bottom: 20px;
}

.float{

	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#000000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.my-float{

	margin-top:22px;
}

#userStat h1 {

  font-weight: bold;
}

.totalLeft {

  text-align: right;
  font-weight: 600;
  margin-top: 150%;
  margin-right: -20px;
  color: #ecb91f;
}

.totalRight {

  text-align: left;
  font-weight: 600;
  margin-top: 40%;
  margin-left: -20px;
  color: #2e8403;
}

#salesStat h6 {

  font-weight: 200;
}

#salesStat h1 {

  font-weight: 600;
}

.success-message-expense {

  display: none;
}

.error-message-expense {

  display: none;
}

.success-message-enquiry {

  display: none;
}

.error-message-enquiry {

  display: none;
}

.success-message-freelance {

  display: none;
}

.error-message-freelance {

  display: none;
}

.success-message-member {

  display: none;
}

.error-message-member {

  display: none;
}

.success-message-payment {

  display: none;
}

.error-message-payment {

  display: none;
}

.success-message-promo {

  display: none;
}

.error-message-promo {

  display: none;
}

.success-message-salary {

  display: none;
}

.error-message-salary {

  display: none;
}

@media screen and (max-width: 500px) {

  .section-row {

    /* display: block; */
    margin: auto;
  }
}
